* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: black;
}

body {
    font-family: 'Michroma';
    color: white;
}

li {
    list-style: none;
}

h1 {
    font-size: 64px;
}

 h2 {
    font-size: 22px;
 }

.navBar {
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.hero {
    margin-top: 10%;
    margin-bottom: 10%;
}

.faves {
    margin-top: 10%;
    margin-bottom: 20%;
}

@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-align: center;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 14px;
    }

    .navBar {
        flex-direction: column;
        align-items: center;
    }

    .hero {
        margin-top: 30%;
        margin-bottom: 30%;
    }

    footer {
        flex-direction: column;
        justify-content: center;
    }
}